@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@700&family=Raleway:wght@500&display=swap');

h1 {
  font-family: 'Dancing Script', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Raleway', sans-serif;
}

img .img1 {
  border-radius: 10%;
  width: 400px;
  height: 400px;
}

.abc {
  margin: 10%;
}

.carousel-item {
  padding: 20px;
  /* Adjust the padding value as needed */
}